{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "prettier/@typescript-eslint", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    // "no-explicit-any": false
    // "quotemark": [true, "double"],
    // "ordered-imports": false,
    // "object-literal-sort-keys": false,
    // "member-ordering": false,
    // "no-console": false,
    // "no-shadowed-variable": false,
    // "curly": false,
    // "interface-name": false,
    // "variable-name": false
  }
}
