@import './theme';
// @import '~bootstrap/scss/bootstrap';
@import '~bootstrap-material-design/scss/bootstrap-material-design';
@import '~material-design-icons/iconfont/material-icons.css';

html,
body,
#root {
  @extend .h-100;
}

.btn {
  @extend .btn-raised;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 10px;
  // background-color: $primary;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: $white;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(90deg, $dark 0%, $dark 25%, transparent 100%, $dark 100%);
  // transparent
  // @extend .bg-dark;
  // background-color: ;
}

.card-collections {
  .col {
    @extend .mb-5;
    .card {
      @extend .h-100;
    }
  }
}

.lnu-text {
  font-family: 'Times New Roman', Times, serif;
}

.lnu-banner {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url('../images/LNUBanner.webp') no-repeat center center;
  background-size: cover;
}

.text-white-shadow {
  text-shadow: 1px 2px #932842;
}

.text-primary-shadow {
  text-shadow: 1px 2px #a15d71;
}

.vertical-centered {
  @extend .d-flex;
  @extend .align-items-center;
}

.horizontal-center {
  @extend .d-flex;
  @extend .justify-content-center;
}

.center {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  min-height: inherit;
}

// Dark Mode
// .dark {
// .card-body {
//   * {
//     color: #ffffff;
//   }
//   background: #303030;
// }
// background: #303030;
// }
